#sb-mediaQueryBookmarklet {
	color: #111;
	background: #fff;
	font-family: sans-serif;
	font-weight: bold;
	text-align: right;
	opacity: .65;
	border-top:1px solid #d1d1d1;
	position: fixed;
	width: 100%;
	padding: 2px 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
}

#sb-mediaQueryBookmarklet.onLeft {
	left: 10px;
	right: auto;
}

#mqb-dimensions {
	font-size: 12px;
	text-transform: lowercase;
	padding: 5px 0;
	margin: 0;
}

#mqb-mousePosition {
	font-size: 25px;
	text-transform: lowercase;
	border-bottom: 1px dashed #111;
	padding-bottom: 5px;
	margin: 0 0 10px;
}

#mqb-queries {
	font-size: 16px;
	list-style: disc;
	padding: 0 0 0 1em;
	text-transform: lowercase;
}

#mqb-linksContainer {
	font-size: 10px;
	float:right;
	text-align: right;
}

#mqb-version {
	color: #444;
	float: right;
	text-transform: lowercase;
}

#mqb-closeButton {
	-webkit-appearance: none;
	background: transparent;
	border: none;
	clear: right;
	color: #444;
	display: block;
	text-decoration: none;
	margin: 0 10px;
	padding: 0 3px;	
}

#mqb-closeButton:hover {
	background: #700;
	color: #fff;
	cursor: hand;
}

#mqb-emTest {
	height: 0;
}